---
import "../styles/about-section.css";
import "../styles/about-section.css";
import YoutubeLastvid from "../components/YoutubeLastvid.astro";
import BaseHead from "../components/BaseHead.astro";
import ToogleDarkBtn from "../ToggleDarkBtn.astro";
import BtnToTop from "../components/BtnToTop.astro";
import Footer from "../components/Footer.astro";
import DarkBg from "../components/DarkBg.astro";
import NavLinks from "../components/NavLinks.astro";
import CardTerminal from "../layouts/CardTerminal.astro";
import ContactSocialIcons from "../components/ContactSocialIcons.astro";
import VsCodeTheme from "../components/VsCodeTheme.astro"
import Divider4 from "../components/atoms/Dividers/Divider4.astro";
import { about } from "../data/MenuData";
import DividerTop from "../components/atoms/Dividers/DividerTop.astro";
const { title, description } = Astro.props;


---


<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <NavLinks origin={about} />
    <ToogleDarkBtn />
    <BtnToTop />
    <main>
      <section class="about__intro" id="about">
        <div class=" about__imageIcons" ata-aos="fade-up">
          <img
            class="about__profile"
            src="../img/sofi_retrato.webp"
            alt="sofidev picture"
          />
          <div class="icons__container">
            <ContactSocialIcons />
          </div>
        </div>
        <CardTerminal>
          <h2 class="about__titulo--post post__titulo">
            Experience
          </h2>
          <ul class="terminal__content terminal__content--p">
            <li>DevOps Trainee at Vodafone (May 2024 - Jun 2024) – Docker, Kubernetes, Linux</li>
            <li>Software Engineer Intern at Mercedes-Benz (Jul 2023 - Jun 2024) – Node.js, TypeScript, Vue.js</li>
            <li>Backend Developer Intern at NovaDSA (Aug 2022 - Jul 2023) – Python, Node.js, AWS</li>
          </ul>
        
          <h2 class="about__titulo--post post__titulo">
            Education
          </h2>
          <ul class="terminal__content terminal__content--p">
            <li>MEF University, B.Sc. Computer Engineering (Sep 2021 - Jan 2024) – OSYM %100 Scholarship</li>
            <li>METU, B.Sc. Civil Engineering (Sep 2017 - Jan 2021)</li>
          </ul>
        </CardTerminal>
      <section class="about__text"></section>
    </main>
    <style>
      .about__page {
        width: 100%;
        padding: 1rem .4rem 0 .4rem;
        height: auto;
      }
      .post__titulo {
        color: white;
      }
      .text_content {
        color: white;
      }
      @media screen and (min-width: 768px) {
        .about__page {
        width: 100%;
        padding: 1rem 2rem 0 2rem;
        height: auto;
      }
      }
    </style>

  </body>
</html>
