---
import "../styles/components/about-home.css";
import Button from "./Button.astro";
import CardTerminal from "../layouts/CardTerminal.astro";
import CardAbout from "./CardAbout.astro";
import TitleSpan from "./atoms/TitleSpan.astro";
---

<section class="about" id="about">
	<TitleSpan  text1="Who is Yigit" span="" text2="?" />
	<div class="about__container">
		<CardAbout />
		<div class="terminal__container">
			<CardTerminal animation="fade-left">
				<h3 class="terminal__content terminal__content--h3">≥ Yigit Can Celik</h3>
				<p class="terminal__content terminal__content--p">≥ Always looking for new skills to learn.</p>

				<h3 class="terminal__content terminal__content--h3">
					≥ What <span class="terminal__content terminal__content--span span__dark">sets me apart?</span>
				</h3>
				<p class="terminal__content terminal__content--p">
					≥ I genuinely <span class="terminal__content--span span__dark">love</span> learning and implementing new technologies
					to my project and enjoy staying up to date. <span class="terminal__content--span span__dark">
				</p>
				<div class="about__contactar">
					<Button href="/about" text="See more" />
				</div>
			</CardTerminal>
		</div>

	</div>
</section>
