---
import CardSkill from "./CardSkills";
import CardTerminal from "../layouts/CardTerminal.astro";
import Button from "./Button.astro";
---

<section class="skills" id="skills">
  <h2 data-aos="fade-up" class="titulo titulo__dark">Skills</h2>
  <div class="skills__container max__width">
    <CardTerminal animation="fade-right">
      <p class="terminal__content terminal__content--p">
        ≥ Strong foundation in
        <span class="terminal__content terminal__content--span"
          >JavaScript, Java and Python; skilled in AWS for developing 
        microservices and managing cloud infrastructure. Experienced with PostgreSQL, DynamoDB, 
        and Elasticsearch for database design. Competent in frontend technologies including Vue.js, HTML, and CSS, with a strong emphasis on UI design.
        </span
        >
      </p>
      <p class="terminal__content terminal__content--color">
        ≥ Additionally, I have hands-on experience in DevOps practices, including CI/CD pipelines, containerization with Docker,
        and infrastructure as code using AWS CloudFormation.
      </p>
      <Button
        href="./docs/Angela_Sofia_Osorio_Cv.pdf"
        text="Download CV"
        target="_blank"
      />
    </CardTerminal>
	  <div class="skills__cards-container">
	<CardSkill />
	</div>
  </div>
</section>
